.portal-container {
  color: rgb(43, 43, 43);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.employee-options {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  margin: 2em;
  padding: 1em;
  max-width: 20%;
  border-radius: 5px;
}

.sales-container {
  background-color: aliceblue;
  margin: 2em;
  padding: 1em;
  min-width: 70%;
  border-radius: 5px;
}

.option-btn {
  background-color: aliceblue;
  border: aliceblue 0px solid;
  margin: 0.5em;
}

.sales-info {
  background-color: aliceblue;
  color: green;
  border: green 2px solid;
}
