.shopping-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-items: space-around;
}

.build-card {
  flex: 1 1 30%;
  margin: 5em;
}

.select-btn {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgb(157, 253, 79);
  color: rgb(157, 253, 79);
  margin: 2vh 1vw;
  border-radius: 4px;
}
