@keyframes fadein {
  0% {opacity: 0;
  }
  
  100%{opacity: 100;
  }

}

@keyframes slide {
  from {margin-left: 50vh}
  to   {margin-left: 0;}
}


@keyframes grow { 
  from {transform: scale( 1, 1);}
  to {transform: scale(1.5, 1.5);}
}

.layout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  overflow: hidden;
  animation: fadein 2s;
}


.cards-container {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  animation: slide .5s;
}

.layout-card {
  flex-basis: 30%;
  background-color: rgba(240, 248, 255, 0.733);
  color: rgb(39, 39, 39);
  border-radius: 3px;
  margin: 1vh 1vw;
  min-width: 20vw;
  transition: scale 1.5s;
  transition: display 1.5s;
}

.layout-card:active {
  animation: grow 1.5s;
}

.layout-hidden {
 display: none;
 max-height: 50vh;
 z-index: 5000; 
}

.total-price { 
  margin: 2em;
  padding: 2em;
}


.goback-btn {
  font-size: 1.3em;
  font-weight: 600;
  color: rgb(255, 45, 90); 
  background-color: #39393900;
  border: 2px rgb(255, 0, 106) solid;
  border-radius: 4px;
  margin: 2em;
  padding: 0.3em .7em;

}