.Layout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}


.cards-container {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.layout-card {
  flex-basis: 30%;
  background-color: rgba(240, 248, 255, 0.733);
  color: rgb(39, 39, 39);
  border-radius: 3px;
  margin: 1vh 1vw;
  padding: 0.5em 1em;
}

.total-price { 
  margin: 2em;
  padding: 2em;
}


.goback-btn {
  font-size: 1.3em;
  font-weight: 600;
  color: rgb(255, 45, 90); 
  background-color: #39393900;
  border: 2px rgb(255, 0, 106) solid;
  border-radius: 4px;
  margin: 2em;
  padding: 0.3em .7em;

}